<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/logo.png" alt="logo angular" width="30" height="24" />
        </a>
        <a class="navbar-brand" href="#">Goty</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" aria-current="page" routerLink="/inicio">Inicio</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/goty">Votar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>